python-dotenv
# Database
pymongo[srv]
# Core Framework
flask
flask-cors
requests
gunicorn
gevent>=22.10.1
# News API
eventregistry


pymongo[srv]==4.6.1

# Authentication
python-jose[cryptography]
authlib>=1.0

